<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @manager.email %>
</p>

<p>
  <b>Password:</b>
  <%= @manager.password %>
</p>


<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
